[submodule "src/src/frontier_exploration"]
	path = src/src/frontier_exploration
	url = https://github.com/paulbovbel/frontier_exploration
[submodule "src/frontier_exploration"]
	path = src/frontier_exploration
	url = https://github.com/paulbovbel/frontier_exploration
[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "navigation_tutorials"]
	path = navigation_tutorials
	url = https://github.com/ros-planning/navigation_tutorials.git
[submodule "m-explore"]
	path = m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "src/m-explore"]
	path = src/m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "src/navigation_tutorials"]
	path = src/navigation_tutorials
	url = https://github.com/ros-planning/navigation_tutorials.git
[submodule "src/turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
