<launch>
<group ns="rtabmap">
 <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabviz_remote)/rgbd_gui.ini" output="screen">

      <param name="subscribe_scan"   type="bool"   value="true"/>
      <param name="subscribe_odom"   type="bool"   value="true"/>
      <param name="subscribe_depth"  type="bool"   value="true"/>
      <param name="subscribe_rgb"     type="bool"  value="true"/>
      <param name="frame_id"         type="string" value="base_link"/>
      <param name="approx_sync"      type="bool"   value="true"/>
      <remap from="mapData"         to="/rtabmap/mapData"/>
      <remap from="info"            to="/rtabmap/info"/>
      <remap from="rgb/image"       to="/camera/color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="odom"            to="/odom"/>
      <remap from="scan"            to="/scan"/>
    </node>
    </group>
</launch>
